body{
	background-color: #f8ea7a;

}

button {background-color: #fff;}

#header{
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 100px;
	color: #0b990c;
}

#count{

	display: flex;
	gap: 10px;
	align-self: center;
}

.order{
	
	text-align: center;
	font-size: 50px;
}

#start{
	
	margin-left: 395px;
	width: 152px;
	height: 124px;
	top: 234px;
	left: 622px;
	background: #00ff00;
	border-radius: 50%;
}

#start:hover{
	background-color: #d4cd04;
}

.button-container {
	display: grid;
	width: 600px;
	height: 600px;
	margin: auto;
	background-color: #f8ea7a;
}
#lost{
	text-align: center;
	font-size: 200px;
	color:red;
	margin: auto;
}

.button-container.twotwo {
	grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
	border-style: solid;
	border-width: 2px;
	border-color: black;
}

.button-container.threethree {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    grid-template-rows: 33.3333% 33.3333% 33.3333%;
	border-style: solid;
	border-width: 2px;
	border-color: black;  
}

.button-container.fourfour{
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows:  25% 25% 25% 25%;
	border-style: solid;
	border-width: 2px;
	border-color: black;  
}

.button-container.fivefive {
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows:  20% 20% 20% 20% 20%;
	border-style: solid;
	border-width: 2px;
	border-color: black;
}

.button-container.sixsix{
	grid-template-columns: 16.66666% 16.66666% 16.66666% 16.66666% 16.66666% 16.66666%;
    grid-template-rows:  16.66666% 16.66666% 16.66666% 16.66666% 16.66666% 16.66666%;
	border-style: solid;
	border-width: 2px;
	border-color: black;  
}

.button-container.sevenseven{
	grid-template-columns: 14.28571% 14.28571% 14.28571% 14.28571% 14.28571% 14.28571% 14.28571%;
    grid-template-rows:  14.28571% 14.28571% 14.28571% 14.28571% 14.28571% 14.28571% 14.28571%;   
	border-style: solid;
	border-width: 2px;
	border-color: black;
}

.button-container.eighteight{
	grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    grid-template-rows:  12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;   
	border-style: solid;
	border-width: 2px;
	border-color: black;
}
@keyframes slowflash {
	0%   {background-color: #fff;}
	50%  {background-color: rgb(98, 255, 0);}
	100% {background-color: #fff;}
  }
  
  /* The element to apply the animation to */
  .round1 {
	animation-name: slowflash;
	animation-duration: 2s;
  }

#next_lvl{
	margin-left: 1214px;
	margin-bottom: 20px;
	left: 1040px;
	height: 58px;
	width: 172px;
	background-color: rgb(192, 1, 1)
}

#next_lvl:hover{
	background-color: rgb(255, 20, 20);
}

.foot{
	margin: auto;
	text-align: right;
}

.foot2{
	margin: auto;
	text-align: right;
}	

#wait{
	margin: auto;
	margin-top: auto;
	font-size: 30px;
}

#turn{
	margin-top: auto;
	margin: auto;
	font-size: 30px;
}

#win{

	text-align: center;
	font-size: 80px;
	color: darkgreen;
	margin: auto;
}

#lose{
	text-align: center;
	font-size: 60px;;
	color:red;
	margin: auto;
}

#nxt_lvl{
	text-align: center;
	font-size: 70px;;
	color:rgb(21, 0, 255);
	margin: auto;
}

#level{
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:#a4d013;
	border-radius: 50%;
	width: 148px;
	height: 95px;
	border-style: solid;
	border-width: 2px;
	border-color: #0b990c;
}

#round{
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:#a4d013;
	border-radius: 50%;
	width: 148px;
	height: 95px;
	border-style: solid;
	border-width: 2px;
	border-color: #0b990c;
}

#lifes{
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:#a4d013;
	border-radius: 50%;
	width: 148px;
	height: 95px;
	border-style: solid;
	border-width: 2px;
	border-color: #0b990c;
}

#score{
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:#a4d013;
	border-radius: 50%;
	width: 148px;
	height: 95px;
	border-style: solid;
	border-width: 2px;
	border-color: #0b990c;
}
/* #count{
	background-color:#a4d013;
} */