body{
	background-color: aquamarine;
}

button {background-color: #fff;}

#header{
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 100px;
	color: rgb(0, 95, 0);
}

#btn{
	
	margin-left: 395px;
	width: 152px;
	height: 124px;
	top: 234px;
	left: 622px;
	background: rgb(84, 255, 45);
	border-radius: 50%;
}

.button-container {
	display: grid;
	width: 600px;
	height: 600px;
	margin: 0 auto;
	background-color: aquamarine; 
}

.button-container.twotwo {
	grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;  
}

.button-container.threethree {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    grid-template-rows: 33.3333% 33.3333% 33.3333%;  
}

.button-container.fourfour{
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows:  25% 25% 25% 25%;  
}

.button-container.fivefive {
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows:  20% 20% 20% 20% 20%;  
}

.button-container.sixsix{
	grid-template-columns: 16.66666% 16.66666% 16.66666% 16.66666% 16.66666% 16.66666%;
    grid-template-rows:  16.66666% 16.66666% 16.66666% 16.66666% 16.66666% 16.66666%;  
}
.button-container.sevenseven{
	grid-template-columns: 14.28571% 14.28571% 14.28571% 14.28571% 14.28571% 14.28571% 14.28571%;
    grid-template-rows:  14.28571% 14.28571% 14.28571% 14.28571% 14.28571% 14.28571% 14.28571%;   
}

@keyframes slowflash {
	0%   {background-color: #fff;}
	50%  {background-color: rgb(51, 255, 0);}
	100% {background-color: #fff;}
  }
  
  /* The element to apply the animation to */
  .round1 {
	animation-name: slowflash;
	animation-duration: 2s;
  }

  .round2 {
	animation-name: slowflash;
	animation-duration: 1s;
  }

  .round3 {
	animation-name: slowflash;
	animation-duration: 0.5s;
  }
.btn {
	
}

#btn1{
	left: 694px;
	top: 332px;
}

#btn2{
	top: 332px;
	left: 949px;
  }


#btn3{
	top: 558px;
	left: 694px;
}


#btn4{
	top: 558px;
	left: 949px;
}

#bd{
	text-align: center;
	border-radius: 50%;
	position: absolute;
	background-color: brown;
	border-top-style: solid;
	border-right-style: solid;
	width: 130px;
	height: 130px;
	border-top-width: 0px;
	left: 884px;
	top: 494px;
	border-right-width: 0px;
	margin-top: 1px
  
}

#round{
	text-align: center;
	font-size: 40px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	position: absolute;
	top: 537px;
	left: 911px;
}



#next_lvl{
	margin-left: 1214px;
	margin-bottom: 20px;
	left: 1040px;
	height: 58px;
	width: 172px;
	background-color: rgb(225, 3, 3);
}

.foot{
	margin: auto;
	text-align: right;
}

.foot2{
	margin: auto;
	text-align: right;
}
#wait{
	margin: auto;
	margin-top: auto;
	font-size: 30px;
}
#turn{
	margin-top: auto;
	margin: auto;
	font-size: 30px;
}
#win{

}