body{
	background-color: aquamarine;
}

.header{
	text-align: center;
	font-size: 100px;
	color: rgb(0, 95, 0);
}

.intra{
	font-size: 60px;
	align-content: center;
	padding-left: 300px;
	border-left-style: solid;
	border-left-width: 0px;
	border-top-style: solid;
	border-top-width: 0px;
	margin-top: 200px;
	border-right-style: solid;
	margin-right: 1100px;
	width: 350px;
	height: 0px;
	position: absolute;
	bottom: 0px;
	top: 150px;
	left: 150px;
  }


#input{

	box-sizing: border-box;
	border-left-style: solid;
	padding-left: 0px;
	border-left-width: 0px;
	margin-left: 800px;
	border-bottom-style: solid;
	border-top-style: solid;
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
	border-bottom-width: 0px;
	margin-bottom: 0px;
	margin-top: 22px;
	position: absolute;
	top: 350px;
}
#btn{
	text-align: center;
font-size: 20px;
border-top-style: solid;
border-top-width: 3px;
border-left-style: solid;
border-left-width: 3px;
border-right-style: solid;
border-right-width: 3px;
padding-left: 20px;
border-bottom-style: solid;
border-bottom-width: 3px;
padding-bottom: 3px;
padding-top: 7px;
padding-right: 30px;
right: 510px;
top: 372px;
position: absolute;
}

#start{
	top: 500px;
	right: 750px;
	height: 239px;
	width: 320px;
	background-color: rgb(246, 4, 4);
	border-radius: 50%;
	border-color: black;
	border-width: 1px;
	position: absolute;
	border-top-style: solid;
}
.foot{
	position: absolute;
	text-align: right;
	left: 1700px;
	top: 900px;
}

.foot2{
	position: absolute;
	text-align: right;
	top: 920px;
	left: 1655px;
}